@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary: #FD80A0;
  /* --secondary: #8E64C5; */
  --secondary: #6265D8;
  --app-grey: #F2F2F2;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F6F6F6;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}